<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wenda.tarucnfc">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activitys.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activitys.EditAccountActivity"
            android:label="EditAccount">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activitys.MainActivity" />
        </activity>
        <activity android:name=".Activitys.LoginActivity" />
        <activity
            android:name=".Activitys.ChangePasswordActivity"
            android:label="ChangePassword">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activitys.MainActivity" />
        </activity>
        <activity
            android:name=".Activitys.ForgotPasswordActivity"
            android:label="ForgotPassword">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activitys.MainActivity" />
        </activity>
        <activity
            android:name=".Activitys.ChangePinCodeActivity"
            android:label="ChangePINCode">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activitys.MainActivity" />
        </activity>
        <activity android:name=".Activitys.PinEntryActivity" />
        <activity android:name=".Activitys.TransferBalanceActivity" />
        <activity android:name=".Activitys.TopUpActivity"></activity>
    </application>

</manifest>
