<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wenda.tarucnfc">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.NFC" />

    <uses-feature android:name="android.hardware.nfc" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activitys.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activitys.EditAccountActivity"
            android:label="EditAccount">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activitys.MainActivity" />
        </activity>
        <activity
            android:name=".Activitys.MainActivity"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activitys.ChangePasswordActivity"
            android:label="ChangePassword">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activitys.MainActivity" />
        </activity>
        <activity
            android:name=".Activitys.ForgotPasswordActivity"
            android:label="ForgotPassword">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activitys.MainActivity" />
        </activity>
        <activity
            android:name=".Activitys.ChangePinCodeActivity"
            android:label="ChangePINCode">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activitys.MainActivity" />
        </activity>
        <activity android:name=".Activitys.PinEntryActivity" />
        <activity
            android:name=".Activitys.TransferBalanceActivity"
            android:label="TransferBalance">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activitys.MainActivity" />
        </activity>
        <activity
            android:name=".Activitys.TopUpActivity"
            android:label="TopUp">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activitys.MainActivity" />

            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activitys.TransactionActivity"
            android:label="Transaction">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activitys.MainActivity" />
        </activity>
        <activity android:name=".Activitys.DisplayNFCActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activitys.MainActivity" />

            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activitys.EditBusRouteActivity"
            android:label="EditBusRoute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activitys.MainActivity" />
        </activity>
        <activity
            android:name=".Activitys.EditClassScheduleActivity"
            android:label="EditClassSchedule">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activitys.MainActivity" />
        </activity>
        <activity
            android:name=".Activitys.EditAuthorizationActivity"
            android:label="EditAuthorization">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activitys.MainActivity" />
        </activity>
        <activity
            android:name=".Activitys.SetPinCodeActivity"
            android:label="SetPinCode">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activitys.MainActivity" />
        </activity>
        <activity
            android:name=".Activitys.FoodMenuActivity"
            android:label="FoodMenu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activitys.MainActivity" />
        </activity>
        <activity
            android:name=".Activitys.CartActivity"
            android:label="OrderCart">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activitys.MainActivity" />
        </activity>

        <activity
            android:name=".Activitys.FoodDetailsActivity"
            android:label="FoodDetails">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activitys.MainActivity" />
        </activity>
    </application>

</manifest>
